

.open-sans-normal{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


/* Banner styles */
.banner{
    background-color: #C6E4D6;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 50px auto;
    justify-content: space-between;
    text-align:left;
}

/* Text styles */
.content{
    max-width: 50%;
}
.content h3{
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}
.content h1{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 10px;
    margin-top: 0;
}
.btn{
    background-color: #006A50;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 16px; 
}
/* Image Styles */
.image{
    max-width: 50%;
}
/* The Vision of Future */
.vision{
    max-width: 89%;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0 ,0.1);
}
.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 24px;
}
.card-1{
    padding: 32px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 10px;
    box-shadow:  0 4px 8px rgb(0, 0, 0 ,0.1);;
}
.card-2{
    padding: 32px;
    background-color: #C6E4D6;
    border-radius: 10px;
    box-shadow:  0 4px 8px rgb(0, 0, 0 ,0.1);;
}
.card-3{
    padding: 24px;
    background-color: #F7EBCF;
    border-radius: 10px;
    box-shadow:  0 4px 8px rgb(0, 0, 0 ,0.1);
}
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
button.blue {
    background-color: #5490F5;
    color: white;
}
button.green {
    background-color: #09A15C;
    color: white;
}
button.yellow {
    background-color: #FFC239;
    color: white;
}
Testimonial Styles */

 .testimonial {
   background: white;
   padding: 30px;
   max-width: 89%;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   text-align: left right;
   margin-top: 32px;
  
}

.quote{
    font-size: 16px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: left top;
}
.author {
    font-size: 20px;
    color: #0E0E0E;
    font-weight: bold;
    margin-top: 10px;
}
.designation {
    font-size: 14px;
    color: #777;
    margin-top: -15px;
}