

.open-sans-normal{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


/* Banner styles */
.banner{
    background-color: #C6E4D6;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 50px auto;
    justify-content: space-between;
    text-align:left;
}

/* Text styles */
.content{
    max-width: 50%;
}
.content h3{
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}
.content h1{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 10px;
    margin-top: 0;
}
.btn{
    background-color: #006A50;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 16px; 
}
/* Image Styles */
.image{
    max-width: 50%;
}
/* The Vision of Future */
.vision{
    max-width: 89%;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0 ,0.1);
}
.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 24px;
}
.card-1{
    padding: 32px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 10px;
    box-shadow:  0 4px 8px rgb(0, 0, 0 ,0.1);;
}
.card-2{
    padding: 32px;
    background-color: #C6E4D6;
    border-radius: 10px;
    box-shadow:  0 4px 8px rgb(0, 0, 0 ,0.1);;
}
.card-3{
    padding: 24px;
    background-color: #F7EBCF;
    border-radius: 10px;
    box-shadow:  0 4px 8px rgb(0, 0, 0 ,0.1);
}
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
button.blue {
    background-color: #5490F5;
    color: white;
}
button.green {
    background-color: #09A15C;
    color: white;
}
button.yellow {
    background-color: #FFC239;
    color: white;
}
Testimonial Styles */

 .testimonial {
   background: white;
   padding: 30px;
   max-width: 89%;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   text-align: left right;
   margin-top: 32px;
  
}

.quote{
    font-size: 16px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: left top;
}
.author {
    font-size: 20px;
    color: #0E0E0E;
    font-weight: bold;
    margin-top: 10px;
}
.designation {
    font-size: 14px;
    color: #777;
    margin-top: -15px;
}

/* Recent News Styles */

.news-section{
    width: 90%;
    margin: 50px auto;
    text-align: left;
    font-size: 16px;
}
.headline{
    font-size: 35px;
    font-weight: bold;
    color: #0E0E0E;
}
.headline-2{
    font-size: 28px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.description ,.date{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.logo {
    width: 120px;  
    height: auto;  
    display: block;
    margin-bottom: 12px;
    margin-top: -15px;  
}

.news-card{
    display: flex;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    align-items: left;
}
.img{
    width: 300px;
    padding: 15px;
    height: auto;
    border-radius: 30px;
}

   /* Container Styles  */

   .container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width:89%;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
}
.bt {
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background: white;
    border: 2px solid #ddd;
}
.bt.selected {
    background: #c6e6d5;
    border: 2px solid #90c6a7;
}
.input-box {
    width: 75%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin:20px auto;
    display: block;
    text-align: center;
    margin-top: 5px;
}
.donate-btn {
    margin-top: 15px;
    margin: 20px auto;
    background: #0a6d47;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    display: block;
}
/* Footer Box Styles */

.newsletter-box {
    background: #c6e6d5;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    width: 89%;
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    max-width: 450px;
    margin: auto;
}
.email-input {
    flex: 1;
    padding: 12px 25px;
    border: none;
    font-size: 16px;
    outline: none;
}
.subscribe-btn {
    background: #0a6d47;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    min-width: 120px; 
    text-align: center;
    margin-top: -1px;
}